body {
	background-color: #cccccc;
}

.inner {
	width: 960px;
	margin:0 auto;
}

#header {
	background: #ccc;
}

.title_logo h2 {
	text-align: center;
	padding: 12px 0;
}
#form{
	width: 760px;
	margin: 0 auto;

}
#fs{
	padding: 12px;
	margin: 12px;
}